.running-score-container, .select-container, .result-container, .text-running-score{
    display: flex;
    margin: 5% 20%;

}

.running-score-container, .select-container{
    justify-content: space-between;
}

.result-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-running-score{
    flex-wrap: wrap;
    justify-content: space-between;
}